#section-two{
    padding: 0;
    position: relative;
    margin: 0;
    height: 1250px;
    background-image: url("./Assets/bg_1080.svg");
    width: 100%;
    overflow:visible;
    z-index: 1;
}


#lottie-conveyer{
    position: absolute;
    top: 80px;
    z-index: 1;
}

#tube{
    top: 420px;
    left:280px;
    position: absolute;
    z-index: 0;
}

#tube img{
    width: 100%;
    
}

#screen-1{
    top: 370px;
    left:-500px;
    position: absolute;
    z-index: 3;
}


