.Preprocessing-page{
    background-image: url("Assets/bg_1080.svg");
    position: relative;
    height: 2560px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.Preprocessing-page h1{
  color:  #9f8dabb7;
}

#conveyerbelt{
  position: absolute;
  top: -230px;
}

#screen-3{
  position: absolute;
  right: -400px;
  top: 700px;
}

#conveyerbelt-2{
  position: absolute;
  top: 1250px;
  transform: scaleX(-1);
}

#conveyerbelt-3{
  position: absolute;
  top: 1350px;
}